@media print {
  @page {
    size: A4;
    margin: 0;
  }

  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
  
  .print-footer {
    display: none;
  }

  #resume-preview-container {
    border: none !important;
    box-shadow: none !important;
    padding: 0 !important;
  }
}
